* {
    color: white;
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(./images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#main{
    padding: 50px 15px 15px 15px;
    color: white;
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
}

h1{ 
    font-size: 35px;
    width: 50%;
    padding: 15px;
    margin: 20px auto;
    line-height: 30px;
}
div #list{
    margin: 25px auto 25px auto;
}
.linkbox{
    text-decoration: none;
    display: block;
    color: rgb(45, 4, 141);
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    max-width: 350px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: s;
}

}
.linkbox:hover{
    /*outline: 5px solid rgba(189, 189, 189, 0.151);*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(144,0,255,1) 100%); 
    text-decoration: none;
    transition: 2s;

}
a{
    text-decoration: none;
}
div #social{
    margin-top: 60px;
}
.fab{
    color: rgb(45, 4, 141);
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 25px;

    
}
.fab:hover {
    outline: 8px solid rgba(189, 189, 189, 0.151);
    border-radius: 50%;
}

footer{
    display: box;
    padding: 15px;
    width: 50%;
    margin: auto; 
  
}

