html.light{
    --main-color: white;
    --main-bg: rgb(45, 4, 141);
    --bg-img: url(./images/bg-mobile-light.jpg);
    --icon: url(https://pixsector.com/cache/afa23d3a/av1c12f667576e96088e6.png);
  }
:root {
    --main-color: rgb(45, 4, 141);
    --main-bg: white;
    --bg-img: url(./images/bg.png);
    --icon: url(https://www.nicepng.com/png/full/204-2043038_white-lightbulb-icon-light-bulb-icon-white.png);
  }
* {
    color: var(--main-bg);
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
}

body {
    background-image: var(--bg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}

#main{
    padding: 50px 15px 15px 15px;
    color: var(--main-bg);
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
}

h1{ 
    font-size: 35px;
    width: 50%;
    margin: auto;
    line-height: 30px;
    text-align: center;
}
div #list{
    margin: 25px auto 25px auto;
}
.linkbox{
    text-decoration: none;
    display: block;
    color: var(--main-color);
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    max-width: 350px;
    border-radius: 10px;
    background-color: var(--main-bg);
    transition: s;
}


.linkbox:hover{
    color: var(--main-bg);
    outline: 3px solid var(--main-bg);
    background: rgba(255, 255, 255, 0.158); 
    text-decoration: none;
    transition: 0.4s;

}
a{
    text-decoration: none;
}
div #social{
    margin-top: 60px;
}
.fab{
    color: var(--main-color);
    background-color: var(--main-bg);
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 25px;

    
}
.fab:hover {
    outline: 8px solid rgba(189, 189, 189, 0.151);
    border-radius: 50%;
}

footer{
    display: box;
    padding: 15px;
    width: 50%;
    margin: auto;
 } 


img#btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: 0px solid var(--main-bg);
    border-radius: 50%;
    content: var(--icon);

}

@media (min-width: 700px)
{
    html.light{
        --bg-img: url(./images/bg-desktop-light.jpg);
          }
    :root {
        --bg-img: url(./images/bg.png);
      }
    
      body{
    background: var(--bg-img) no-repeat center center fixed; 
    background-size: cover;
      }
}
