* {
    color: white;
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
}

body {
    background-color: #19191c;

}
#main{
    padding: 15px 15px 15px 15px;
    border: 1px solid red;
    color: white;
    text-align: center;
    width: 60%;
   
    margin: 50px auto;
}
.linkbox{
    

    text-decoration: none;
    color: white;
    display: block;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgba(199, 199, 199, 0.411);
}
footer{

    display: flexbox;
    width: 30%;
    padding: 15px;
    margin:15px auto 15px;
    text-align: center;    
}
h1{ 
    font-size: 30px;
    width: 50%;
    padding: 15px;
    margin: auto;
}
.socialmedia{
    width: 20px;
    fill: green;
}